.draw-container{
    display: grid;
    grid-template-areas: 'l c r';
    grid-template-columns: 1fr 2fr 1fr;    
    grid-area: one;
    width: 100%;
    margin: 0;
    background-color: #A9A7AF
       
}

.toolbox{    
    background-color: #A997AF;  
           
}

.toolbox img{
    width: 30px;
    height: 30px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 3px;
   
}

.toolbox .item-active{
    background-color: #736D7C;
   
}


.toolbox .item #pick-color{
    
    width: 31px;
    height: 31px;
   
    margin-left: auto;
    margin-right: auto;
    
    padding: 4px;
    border-radius: 20px;
}


.item:hover{
   background-color: #75717C;
}

.toolbox .left{
    grid-area: l;
    grid-template-areas: 'tools'
                         'tools'
                         'colors'
                         'colors'
                         'val'
                         'val';   
     
   
}

.group-commands{
   grid-area: tools;
   margin-left: 20%;
}

.group-commands .row{
    display: flex;
}

.group-colors{
    grid-area: colors;

}


.toolbox.right{
   grid-area: r;
   
}

.layer-changer{
 
}

.canvas-container{
    grid-area: c;
    grid-template-areas: 'hdr'
                         'cvs'
                         'f';

   
    width: 100%;
    
}
.canvas-container .canvas-header{
    
    grid-area: hdr;
}

.canvas-container .canvas-header .row{
    display: flex;
    justify-content: center;

}

.canvas-container .canvas-header img{
    padding-top: 5%;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    
   
}


.canvas-container canvas{   
    grid-area: cvs;
    padding: 10px;
    border: 2px solid black;
    background-color: #ffffff;    
    transform: translate(0%, 0%);
    margin-left: auto;
    margin-right: auto;

}


.sliders-container{
    display: flex;
    justify-content: center;
    grid-area: f;
           
     
 }

.stroke img{
   margin-left: 3px;
   width: 30px;
   height: 30px;
   margin-left: 8px;
   margin-right: 8px;
}


.ChromePicker{
    position: absolute;
    z-index: 120;
    margin-left: 50px;
    bottom: 0px;
}

.palette{   
   margin-top: 3%;
   margin-left: 17%;
   margin-right: 5%;  
  
   
 
}

.stroke-container{
    width: 60px;
    height: 140px;
    
   
    
}
.stroke-width{
    
}

.pointer{
    padding-left: 20%;
    
}
.opacity-container{
    width: 60px;
    height: 140px;
    margin-top: 20px;
  
    
}




input[type=range] {
    width: 100px;
    height: 12px;
    -webkit-appearance: none;
    
    transform: translate(-50px, -30px);     
    border-radius: 5px;
    background-color:#ffffff;
    box-shadow: inset 0 3px 18px rgba(0,0,0,0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    outline: none;
  }

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px; 
    transform: translate(0px, 0px);    
    background-color: white;
    border: 1px solid #12fCC2;
    border-radius: 50%;    
    cursor: pointer;
    outline: none;
  }

 input[type=range]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 1px #144b58,
                0 0 0 2px white;
 }
 
 .history-content{
     overflow-y: auto;
 }

